.grid-container {
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-rows: 100px auto 100px;
    grid-template-areas:
        "header header"
        "sidebar main"
        "footer footer";
}

.header {
    grid-area: header;
    background-color: antiquewhite;
    justify-content: center;
}

.main {
    grid-area: main;
    background-color: rgb(255, 98, 0);
}

.sidebar {
    grid-area: sidebar;
    background-color: blueviolet;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-area: footer;
    background-color: crimson;
}

h1 {
    text-align: center;
}